
html, body {
    height: 100%;
    margin: 0;

}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(200,100,15);
}
header, main, footer {
    width: min(900px, 100%);
    text-align: center;
    padding: 1rem;
    
}
footer {
    margin-top: auto;
}
nav a {
display: inline-block;
margin: 0 .5rem;
text-decoration: none;
color:blueviolet; 
}
@media only screen and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    body {
        font-size: 12px;

    }
}