html, body {
    height: 100%;
    margin: 0;

}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    
}
header, main, footer {
    width: min(900px, 100%);
    text-align: center;
    padding: 1rem;
    
}
footer {
    margin-top: auto;
}
nav a {
display: inline-block;
margin: 0 .5rem;
text-decoration: none;
}
figure {
    margin: 1rem auto;

}
figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
ul {
    padding-left: 0;
    border-left-style: inside;
}